# Handling IMbalanced Dataset

In [8]:
import pandas as pd
import numpy as np

In [9]:

# set the random seed for reproducibility
np.random.seed(123)
# create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [10]:
n_class_0,n_class_1

(900, 100)

In [15]:
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target': [0] * n_class_0
})
class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc=2,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=2,scale=1,size=n_class_1),
    'target': [1] * n_class_1
})

In [16]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [14]:
df.tail()

     feature_1  feature_2  target
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

In [17]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [30]:
df_minority = df[df['target']==1]
df_majority=df[df['target']==0]

In [31]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, #Sample With replacement
         n_samples=len(df_majority),
         random_state=42
        )

In [32]:
df_minority_upsampled.shape

(900, 3)

In [35]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   2.905343   1.495151       1
992   2.000977   1.814833       1
914   1.927957   2.280911       1
971   2.819483   2.964646       1
960   2.456515   1.833528       1