In [2]:
import pandas as pd
import numpy as np

In [3]:
np.random.seed(123)

In [4]:
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0,n_class_1

(900, 100)

In [6]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [7]:
df= pd.concat([class_0,class_1]).reset_index(drop=True)

In [9]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [10]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [11]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [16]:
from sklearn.utils import resample
df_minority_unsampled = resample(df_minority,replace=True,
                                n_samples=len(df_majority),
                                             random_state=42)

In [18]:
df_minority_unsampled.shape

(900, 3)